<!-- About Section -->
<section class="success" id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Bio</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I am 4th year PhD student at EECS Dept, Northwestern University. My main Research is on Computer Vision and Machine Learning and my adviser is Professor Aggelos K. Katsaggelos. </p>
            </div>
            <div class="col-lg-4">
                <p>I spent two summers, 2013 and 2014, at TCL Research America in San Jose, CA as Research Intern. I worked on Face Recognition, Image Retrieval and other related areas. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/files/iliadis_resume.pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>