<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">

        {% include nav.html %}
<section>
    <div class="container" style="padding-top: 30px;">
        
        <div class="row" >                
            <div class="container" >	

                <div >
                        <h3 style ="border-bottom: 1px solid #EEE;">{{ page.title }}
                            </br><small>{{ page.booktitle }}</small>
                        </h3>
                    </div>

                    <div>
                        {{ content }}                          
                    </div>

            </div>           
        </div>
    </div>
</section>

        {% include footer.html %}    
        {% include js.html %}

    </body>
</html>
