<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">

        {% include nav.html %}
<section>
    <div class="container">
        
        <div class="row" >                
            <div class="container" style="padding-bottom: 30px;">	

               

                    <div>
                        {{ content }}                          
                    </div>

            </div>           
        </div>
    </div>
</section>

        {% include footer.html %}    
        {% include js.html %}

    </body>
</html>
